<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #middle{
      width: 350px;
      margin-left: 250px;
    }
  </style>
</head>
<body>
<div id="top" style="text-align: center">
  <h3>查询选手</h3>
  <form>
    <input type="text">
    <input type="submit">
  </form>
</div>
  <h3 style="text-align: center;margin-top: 60px">查询结果</h3>

<h4 style="text-align: center;font-size: 5px;font-weight: 1">选手信息</h4>
<h5 style="text-align: center">raing history</h5>
<div id="middle" style="text-align: center;width: 465px;overflow-y: scroll">

<table style="width: 410px">
  <thead>
    <tr>
      <th >时间</th>
      <th >比赛</th>
      <th >rank </th>
      <th>Δ</th>
    </tr>
  </thead>
   <tbody>
    <tr>
      <td>2023-01-101-1vc</td>
      <td>ybbbbbdhhshgsgs</td>
      <td>3000</td>
      <td>eee</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
</table>

</div>



</body>
</html>
