<!DOCTYPE html>
<html lang="en">


<script>
  function requestInfo(){
    handle = document.getElementsByName('handle')[0].value
    let xmlHttpRequest = new XMLHttpRequest();
    xmlHttpRequest.open("get","/requestUserInfo?handle="+handle,true);
    xmlHttpRequest.setRequestHeader("content-Type","application/json");
    xmlHttpRequest.send()
  }
  if (httpRequest.readyState === XMLHttpRequest.DONE) {

  }
  else {

  }


  </script>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #middle{
      width: 450px;
      margin: 0 auto;
      overflow-y: scroll
    }
  </style>
</head>
<body>
<div id="top" style="text-align: center">
  <h3>查询选手</h3>

    <input name="handle" type="text">
    <input type="button" value="提交" onclick="requestInfo()">

</div>
  <h3 style="text-align: center;margin-top: 60px">查询结果</h3>

<h4 style="text-align: center;font-size: 5px;font-weight: 1">选手信息</h4>
<h5 style="text-align: center">raing history</h5>
<div id="middle">

<table style="width: 410px">
  <thead>
    <tr style="font-size: 2px">
      <th >时间</th>
      <th >比赛</th>
      <th >rank </th>
      <th>Δ</th>
    </tr>
  </thead>
   <tbody>
    <tr>
      <td>2023-01-101-1vc</td>
      <td>ybbbbbdhhshgsgs</td>
      <td>3000</td>
      <td>eee</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
</table>
</div>

</body>


</html>
