<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<script>
  function requestInfo(){
    let handle = document.getElementsByName('handle')[0].value
     $.ajax({
            url: "requestUserInfo?handle="+handle,
            type: "get",
            dataType: "json",
            success: function(data){
              document.getElementById("handle").textContent=data["handle"]
              document.getElementById("rating").textContent=data["rating"]
              renderTable(data)
            },
            error: function(xhr, textStatus, errorThrown){
              console.log(errorThrown)
                alert(xhr.responseText);
            }
        })}



  function renderTable(data) {
    const tableBody = document.querySelector("#table1 tbody");
    tableBody.innerHTML = "";
    rating_hisyory=data["rating_history"]
    rating_hisyory.forEach(function (v,index,json){
         const row = document.createElement("tr");
         const dateCell = document.createElement("td")
        const contestNameCell = document.createElement("td");
        const ratingCell = document.createElement("td");
        const rankCell = document.createElement("td")
        dateCell.textContent = v["ratingUpdatedAt"]
      contestNameCell.textContent=v["contestName"].toString().trim()
      ratingCell.textContent =v["oldRating"]+"—>"+v["newRating"]
      rankCell.textContent=v["rank"]
      row.appendChild(dateCell)
      row.appendChild(contestNameCell)
      row.appendChild(rankCell)
      row.appendChild(ratingCell)
      tableBody.appendChild(row)
    }
    )

    }


  </script>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #middle{

      height: 370px;
      margin: 0 auto;
      overflow-y:scroll;

    }
    table{
      width: 100%;
      border-collapse: collapse;
    }

     td {
            border: 1px solid #ccc;
            padding: 3px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
        }

  </style>
</head>
<body>

<div id="top" style="text-align: center">
  <h3>查询选手</h3>

    <input name="handle" type="text">
    <input type="button" value="提交" onclick="requestInfo()">

</div>
  <h3 style="text-align: center;margin-top: 60px">查询结果</h3>

<h4 style="text-align: center;font-size: 5px;font-weight: 1"></h4>
<div style="text-align: center">
  <h1 id="handle" style="color: blue" ></h1>
  <br>
  <p3>rating:</p3>
  <h1 id="rating" style="color: coral"></h1>
</div>
<h5 style="text-align: center">raing history</h5>
<div id="middle">
<table style="width: 350px;margin:0 auto" id="table1">
  <thead>
    <tr style="font-size: 1px">
      <th id="time" >时间</th>
      <th id="contest" >比赛</th>
      <th id="rank">rank </th>
      <th id="increment">Δ</th>
    </tr>
  </thead>
   <tbody >

  </tbody>
</table>
</div>

</body>


</html>
